---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import teamData from './Data/team.json';
import Accordion from "./Accordion.astro";

---
<Container>


<div class="relative flex flex-col items-center md:flex-row pt-6">
    <Topic title="Team" description="Meet the skilled and experienced team behind our successful digital marketing strategies"/>
</div>

<div class="flex-row items-center py-5" id="team">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4">
    {
    teamData.team.map(({ title, description, name, link, profile} ) => (
    <div class="h-[331px] px-[35px] py-10 bg-white rounded-[45px] shadow-card border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex text-black">
        <div class="flex-col justify-start items-start gap-7 flex">
            <div class="self-stretch justify-start items-start inline-flex">
                <div class="grow shrink basis-0 justify-start items-center gap-8 flex">
                    {/* <div class="h-[102.82px] left-0 top-0 relative">
                        <img src={profile} alt={name}/>
                    </div> */}
                    <div class="flex-col justify-end items-start inline-flex">
                        <div class="text-lg font-normal">{title}</div>
                        <div class="text-xl font-medium">{name}</div>
                    </div>
                </div>
                <a class="top-0 right-0" href={link}>
                    {/* <img src="/team/lng.svg" alt="vector"/> */}
<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-6" >
    <path d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z" fill="#a81c07"></path>
    <path d="M5 10C5 9.44772 5.44772 9 6 9H7C7.55228 9 8 9.44771 8 10V18C8 18.5523 7.55228 19 7 19H6C5.44772 19 5 18.5523 5 18V10Z" fill="#a81c07"></path>
    <path d="M11 19H12C12.5523 19 13 18.5523 13 18V13.5C13 12 16 11 16 13V18.0004C16 18.5527 16.4477 19 17 19H18C18.5523 19 19 18.5523 19 18V12C19 10 17.5 9 15.5 9C13.5 9 13 10.5 13 10.5V10C13 9.44771 12.5523 9 12 9H11C10.4477 9 10 9.44772 10 10V18C10 18.5523 10.4477 19 11 19Z" fill="#a81c07"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z" fill="#a81c07"></path>
  </svg>                </a>
            </div>
            <hr class="w-full border border-black"/>
            <p class="text-sm md:text-lg">{description}</p>
        </div>
    </div>
    ))
    }
    </div>
</div>
<div class="w-full justify-center md:justify-end items-center inline-flex">
    <button class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7">See all team
    </button>
</div>

</Container>